<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Kossy - SHARED ON THEMELOCK.COM | Minimal Ecommerce HTML Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="themenum">

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap-grid.css" />
	<link rel="stylesheet" href="css/icons.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/responsive.css" />
	<link rel="stylesheet" type="text/css" href="css/colors/colors.css" />
	
</head>
<body>

<div class="page-loading">
	<img src="images/loader.gif" alt="" />
	<span>Skip Loader</span>
</div>

<div class="theme-layout">

	<section>
		<div class="block no-padding">
			<div style="background: url(http://placehold.it/1920x1083)" class="full-bg"></div><!-- PARALLAX BACKGROUND IMAGE -->
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="soonsec">
							<div class="logo">
								<a href="#" title="">Kossy</a>
							</div>
							<div class="sooninfo">
								<h3>Coming Soon...</h3>
								<p>Condimentum ipsum a adipiscing hac dolor set consectetur urna</p>
								<p>commodo elit parturient a molestie ut nisl partu convallier ullamcorpe.</p>
								<div class="countdownsec">
									<span>NEW STORE WE BE LAUNCHED IN</span>
									<ul class="countdown-soon">
										<li class="days-soon"><span class="days">00</span><p class="days_ref">days</p></li>
										<li class="hours-soon"> <span class="hours">00</span><p class="hours_ref">hours</p></li>
										<li class="minutes-soon"> <span class="minutes">00</span><p class="minutes_ref">minutes</p></li>
										<li class="seconds-soon"> <span class="seconds">00</span><p class="seconds_ref">seconds</p></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>

<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/modernizr.js" type="text/javascript"></script>
<script src="js/script.js" type="text/javascript"></script>
<script src="js/wow.min.js" type="text/javascript"></script>
<script src="js/scrolly.js" type="text/javascript"></script>
<script src="js/countdown.js" type="text/javascript"></script>



</body>
</html>

